@model Customer

<div class="figure-caption">
    <h5>@Model.CustomerId</h5>
    <h4>@Model.FirstName @Model.LastName</h4>
    <h5>@Model.Email</h5>
    <h6>@Model.PersonalNumber</h6>

    <p class="button">
        <a class="btn btn-primary"
           asp-controller="CustomerBook"
           asp-action="LoanedBooks"
           asp-route-id="@Model.CustomerId">Loans</a>
    </p>
    <a asp-controller="Customer" asp-action="GetAll" class="btn btn-primary">View All Customers</a>
</div>